# Ignore venv folder
venv/

# Ignore __pycache__ directory
__pycache__/

# Ignore dataset folder
dataset/

# Ignore preprocessed data and results
data_client_*/
final_*

# Ignore config files
config_*
!config_example.yaml
